<p id="notice"><%= notice %></p>

<h1>Workouts</h1>

<table>
  <thead>
    <tr>
      <th>Workout name</th>
      <th>Workout type</th>
      <th>Description</th>
      <th>Prescribed male</th>
      <th>Prescribed female</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.workout_name %></td>
        <td><%= workout.workout_type %></td>
        <td><%= workout.description %></td>
        <td><%= workout.prescribed_male %></td>
        <td><%= workout.prescribed_female %></td>
        <td><%= link_to 'Add new entry', new_workout_record_path(workout) %></td>
        <td><%= %></td>
        <td><%= %></td>
        <!-- <td><%= link_to 'Show', workout %></td>
        <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
        <td><%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Workout', new_workout_path %> -->
