<div class="container">
	<div class="row">
		<div class="col-md-6 mx-auto">

			<div class="row my-2">
				<div class="col text-center landing__text">
					<h2>Weightlifting</h2>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<% @records_weightlifting.each do |record| %>
					<div class="card my-1">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<div><%= record.workout.workout_name %></div>
								</div>
								<div class="col text-right"><%= record.pb_weight %>lb</div>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<div class="row my-2">
				<div class="col text-center landing__text">
					<h2>Benchmark Workouts</h2>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<% @records_benchmark.each do |record| %>
					<div class="card my-1">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<div><%= record.workout.workout_name %></div>
								</div>
								<div class="col text-right"><%= record.pb_time_min %>:<%= record.pb_time_sec.to_s.rjust(2,"0") %></div>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>

		</div>
	</div>
</div>