<% if user_signed_in? %>
<li>
	<%= link_to('Edit Account', edit_user_registration_path) %>
</li>
<li>
	<%= link_to('Add new entry', workouts_path) %>
</li>
<% else %>
<div class="row m-3 mt-5 my-1">
    <div class="col-md-4 mx-auto square text-center">
        <img class="landing__logo my-3" src="/logo.svg"alt="">
        <div class="landing__title display-3 mb-3">PB & Jot</div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mx-auto landing__text text-center">
        <div>
            Record Your Personal Bests
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mx-auto text-center mt-2">
        <div class="row">
            <div class="col">
                <%= link_to('Login', new_user_session_path) %>
            </div>
            <div class="col">
                <%= link_to('Sign Up', new_user_registration_path) %>
            </div>
        </div>
        <div>
            
            
        </div>
    </div>
</div>


<% end %>

<% if user_signed_in? %>
<div class="landing__text">
    <%= link_to('View your records', user_workouts_path(current_user.id)) %>
    View your records | Add new records
</div>
<% end %>