<h1>New Record for <%= @workout.workout_name %></h1>

<%= form_for [@workout,@record] do |f| %>

<div>
    <%= f.label :pb_weight, "Weight in lb" %>
	<%= f.number_field :pb_weight %>
</div>

<!-- Exclude Time Input if it is a weightlighting movement -->
<% unless @workout.workout_type == "weightlifting" %>
<div>
    <%= f.label :pb_time_min, "Minutes" %>
	<%= f.number_field :pb_time_min, min:0, max: 59 %>
</div>
<div>
    <%= f.label :pb_time_sec, "Seconds" %>
	<%= f.number_field :pb_time_sec, min:0, max: 59 , value: 0 %>
</div>
<% end %>

<div>
    <%= f.label :pb_date, "Date of Workout" %>
	<%= f.date_field :pb_date, value: Time.now.strftime('%Y-%m-%d') %>
</div>

<div>
    <%= f.label :notes, "Notes" %>
	<%= f.text_area :notes %>
</div>

<%= f.submit %>
<% end %>
